body {
	background:url(../gitweb/basilica.jpg);
	background-repeat:repeat;
	background-attachment:scroll;
	background-position:center 0px;
    }


/*
div {
	background:url(../gitweb/basilica.jpg);
	height:300px;
	}
*/




























